{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "globals": {
    "shallow": true,
    "render": true,
    "mount": true
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/forbid-prop-types": "off"
  }
}
